.footer {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  color: var(--text-muted);
  background: var(--bg-main);
}

.footer a {
  color: var(--wlu-gold);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
